<div class="logout-wrap">
  <div class="logout-form-wrap wider">
    <h2 class="formtitle">Edit Task</h2>
    <%= render 'form' %>
  </div>
</div>

<!-- <%#= link_to 'Show', @task %> | -->
<%#= link_to 'Back', tasks_path %>
