<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color: #eee;">
	<table style="width: 100%;max-width:560px;margin: 10px auto;padding: 0;border: none;border-spacing: 0;border-collapse: collapse;font-family:'Helvetica', 'arial', sans-serif;font-size:18px; color: #333;font-weight:300;" align="center">
		<tr>
			<td style="background:#fff;border-bottom: 1px solid #f1f1f1;padding: 20px;margin: 0;font-size: 24px;font-weight: 700;">
				<a href="http://speedlancer.com" style="font-weight:700;color:#0073b0;text-decoration:none;"><img src="http://speedlancer.com/wp-content/uploads/2014/09/logo2.png" style="height: 40px;"></a>
			</td>
		</tr>
		<tr>
			<td style="background:#fff;padding: 15px 20px 10px;margin: 0;">