
				<p style="font-size: 14px;color: #444;font-weight: 300;"><strong>Kind regards</strong>,<br>
					The Speedlancer Team
				</p>
			</td>
		</tr>
		<tr>
			<td style="background:#fff;border-top: 1px solid #f1f1f1;padding: 10px 20px;margin: 0;">
				<p style="font-size: 12px;color: #666;font-weight: 300;"><strong>Speedlancer</strong> has sent this e-mail to you because it was necessary or you opted for this. Please add us to your contacts to prevent our emails from landing in spam.</p>
			</td>
		</tr>
	</table>
</body>
</html>