<%= render "notifier/email_header" %>

<h1 style="font-size: 16px;color: #069">Hi <%= @seller.first_name_for_email %></h1>
<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">Your seller account has been approved by admin. Please Log In and start selling on Speedlancer.</p>

<%= link_to "Log In", login_url, style: "display:inline-block;padding: 0 20px; line-height:40px; background: #069; color: #fff;font-weight:700;font-size: 14px;text-decoration:none" %>

<%= render "notifier/email_footer" %>
