<%= render "notifier/email_header" %>

<h1 style="font-size: 16px;color: #069">Hello <%= @resource.email %>!</h1>

<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">Someone has requested a link to change your password. You can do this through the link below.</p>

<%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token),  style: "display:inline-block;padding: 0 20px; line-height:40px; background: #069; color: #fff;font-weight:700;font-size: 14px;"  %>

<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">If you didn't request this, please ignore this email.</p>
<p style="font-size: 14px;color: #444;line-height:20px;font-weight: 300;">Your password won't change until you access the link above and create a new one.</p>
