		<section class="section-testimonial">
			<div class="fullscreen" style="background-image: url(<%= image_path("temp/testimonial-bg.jpg") %>); "></div

			<div class="container">
				<div class="testimonial">
					<div class="testimonial-inner">
						<h4>Speedlancers are very <strong>efficient , professional</strong>, and <strong>timely!</strong></h4>

						<p><strong>Matthew Smith</strong> CEO Company Z </p>
					</div><!-- /.testimonial-inner -->
				</div><!-- /.testimonial -->
			</div><!-- /.container -->
		</section><!-- /.section-testimonial -->

		<section class="section section-speedlancer">
			<div class="container">
				<div class="row">
					<div class="col col-md-6">
						<div class="section-head">
							<h2 class="section-title">We Source From The Industry Best.</h2><!-- /.section-title -->

							<p>Our 5 star rockstars have worked for The Huffington Post, The Guardian and more! We look for Unicorn level talent in all our task categories (design, marketing, writing, research) and train them specifically to deliver the highest quality deliverables at unbeaten speed.</p>

							<p>
								<a href="#" class="btn btn-design btn-xl btn-fixed">apply to be a SPEEDLANCER</a>
							</p>
						</div><!-- /.section-head -->
					</div><!-- /.col col-md-6 -->
					
					<div class="col col-md-6">
						<ul class="profiles">
							<li class="profile">
								<div class="avatar">
									<%= image_tag "temp/avatar.png" %>
								</div><!-- /.avatar -->

								<div class="profile-body">
									<h6>Ciara Montes</h6>

									<p>Content Specialist</p>

									<div class="rating"></div><!-- /.rating -->
								</div><!-- /.profile-body -->
							</li><!-- /.profile -->
							
							<li class="profile profile-right">
								<div class="avatar">
									<%= image_tag "temp/avatar-1.png" %>
								</div><!-- /.avatar -->

								<div class="profile-body">
									<h6>vincent roman</h6>

									<p>Researcher</p>

									<div class="rating"></div><!-- /.rating -->
								</div><!-- /.profile-body -->
							</li><!-- /.profile -->
							
							<li class="profile">
								<div class="avatar">
									<%= image_tag "temp/avatar-2.png" %>
								</div><!-- /.avatar -->

								<div class="profile-body">
									<h6>PEnelope richards</h6>

									<p>UI/UX Designer</p>

									<div class="rating"></div><!-- /.rating -->
								</div><!-- /.profile-body -->
							</li><!-- /.profile -->
						</ul><!-- /.profiles -->
					</div><!-- /.col col-md-6 -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</section><!-- /.section section-speedlancer -->

		<section class="section section-partners">
			<div class="container">
				<div class="section-head">
					<h2 class="section-title">Trusted by the BEST</h2><!-- /.section-title -->
				</div><!-- /.section-head -->

				<div class="section-body">
					<ul class="list-partners">
						<li>
							<i class="partner-1"></i>
						</li>
						
						<li>
							<i class="partner-2"></i>
						</li>
						
						<li>
							<i class="partner-3"></i>
						</li>
						
						<li>
							<i class="partner-4"></i>
						</li>
						
						<li class="hidden-xs hidden-sm">
							<i class="partner-5"></i>
						</li>
						
						<li class="hidden-xs hidden-sm">
							<i class="partner-6"></i>
						</li>
						
						<li class="hidden-xs hidden-sm">
							<i class="partner-7"></i>
						</li>
						
						<li class="hidden-xs hidden-sm">
							<i class="partner-8"></i>
						</li>
					</ul><!-- /.list-partners -->
				</div><!-- /.section-body -->
			</div><!-- /.container -->
		</section><!-- /.section section-partners -->

		<div class="callout">
			<div class="container">
				<h5>WHY WAIT? GET IT DONE NOW!</h5>

				<p>
					<a href="#" class="btn btn-xl btn-white btn-fixed">start a project</a>
				</p>
			</div><!-- /.container -->
		</div><!-- /.callout -->