	
		<div class="container">
			<div class="footer-widgets hidden-xs">
					<div class="row">
						<div class="col col-md-4">
							<div class="footer-widget">
								<h5>TERMS OF SERVICE</h5>

								<nav class="nav-footer">
									<ul>
										<li>
											<a href="#">How it Works</a>
										</li>
										
										<li>
											<a href="#">Terms</a>
										</li>
										
										<li>
											<a href="#">Privacy Policy</a>
										</li>
										
										<li>
											<a href="#">Contact</a>
										</li>
										
										<li>
											<a href="#">Press</a>
										</li>
									</ul>
								</nav><!-- /.nav-footer -->
							</div><!-- /.footer-widget -->
						</div><!-- /.col col-md-4 -->
						
						<div class="col col-md-4">
							<div class="footer-widget">
								<h5>fresh blog posts</h5>

								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
								
								<p>Aenean commodo ligula eget dolor. Aenean massa.</p>
								
								<p>Cum sociis natoque penatibus et magnis dis parturient montes.</p>
							</div><!-- /.footer-widget -->
						</div><!-- /.col col-md-4 -->
						
						<div class="col col-md-4">
							<div class="footer-widget footer-widget-last">
								<h5>THE SPEEDLANCER LEGEND</h5>

								<p>Speedlancer is a game changing freelance marketplace. We deliver high-quality, high-speed, marketing, design, and writing tasks within four hours, without the time-consuming interview and bidding process of other freelance websites. Our Speedlancers are more than contractors; they’re your secret weapon.</p>
							</div><!-- /.footer-widget -->
						</div><!-- /.col col-md-4 -->
					</div><!-- /.row -->
			</div><!-- /.footer-widgets -->
		</div><!-- /.container -->

		<div class="footer-foot">
			<div class="container">
				<p class="copyright">Copyright &copy; 2014 Speedlancer inc. All rights reserved.</p><!-- /.copyright -->

				<ul class="list-footer-nav visible-xs">
					<li>
						<a href="#">Terms</a>
					</li>
					
					<li>
						<a href="#">Privacy Policy</a>
					</li>
					
					<li>
						<a href="#">Contact</a>
					</li>					
				</ul><!-- /.list-footer-nav -->				

				<div class="socials hidden-xs">
					<ul>
						<li>
							<a href="#">
								<i class="ico-twitter"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="ico-facebook"></i>
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="ico-linkedin"></i>
							</a>
						</li>

						<li>
							<a href="#">
								<i class="ico-googleplus"></i>
							</a>
						</li>
					</ul>
				</div><!-- /.socials -->
			</div><!-- /.container -->
		</div><!-- /.footer-foot -->
